registry=https://registry.npmjs.com/
@foo:registry=https://registry.foo.com/
@bar:registry=https://registry.bar.com/
@baz:registry=https://registry.baz.com/
legacy-peer-deps=true
email=foo@gmail.com
always-auth=true
//registry.npmjs.com/:always-auth=true
always-auth=false
//registry.npmjs.com/:always-auth=false
_auth=asfasdfdsfsdf
_authToken=asfasdfdsfsdf
_password=asfasdfdsfsdf
//registry.npmjs.com/:_auth="asdfasdasdfdasdf="
//registry.npmjs.com/:_authToken="asdfasdasdfdasdf="
//registry.npmjs.com/:_password="asdfasdasdfdasdf="
strict-ssl=true
strict-ssl=false
legacy-bundling=true
legacy-bundling=false
engine-strict=true
package-lock=true
package-lock=false
