registry=https://registry.npmjs.com/
@foo:registry=https://registry.foo.com/
@bar:registry=https://registry.bar.com/
@baz:registry=https://registry.baz.com/
legacy-peer-deps=true
email=foo@gmail.com
always-auth=true
_auth=asfasdfdsfsdf
_authToken=asfasdfdsfsdf
//registry.npmjs.com/:_auth="asdfasdasdfdasdf="
//registry.npmjs.com/:_authToken="asdfasdasdfdasdf="
